/* 폰트, css 상단메뉴 */
@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "NEXON Lv1 Gothic OTF";
}
/*  컨텐츠 width: 1171px; */
@font-face {
  font-family: "NEXON Lv1 Gothic OTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
/* 넥슨 웹폰트 */

@font-face {
  font-family: "KoddiUDOnGothic-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/KoddiUDOnGothic-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
/* KoddiUD 온고딕 웹폰트*/

@font-face {
  font-family: "PuradakGentleGothicR";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.1/PuradakGentleGothicR.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* 푸라닭 젠틀 고딕 웹폰트 */

@font-face {
  font-family: "ONE-Mobile-Title";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
/* 원스토어 모바일 고딕 제목체 웹폰트 */

/* -----------여기까지 웹폰트----------- */

body {
  background-image: url("../background/dark_pattern.png");
  background-position: center;
  background-size: contain;
}
#wrap {
  width: 100%;
  height: 7700px;
  margin: 0 auto;
}
#scrollTop {
  width: 30px;
  height: 30px;
  background-color: black;
  position: absolute;
  bottom: 150px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#scrollTop img {
  width: 50%;
}
header {
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 1, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 2;
  position: relative;
  display: flex;
}
.opacity1 {
  width: 100%;
  height: 780px;
  background-color: black;
  opacity: 0.2;
}
.section1 {
  width: 100%;
  height: 880px;
  position: relative;
  background: url(../background/restaurant1.jpg) fixed;
  background-size: cover;
  overflow: hidden;
}

#logo {
  width: 100px;
  height: 100px;
  float: left;
}
footer {
  width: 100%;
  height: 170px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.opacity2 {
  width: 100%;
  height: 170px;
  position: absolute;
  background-color: black;
  opacity: 0.5;
}
.imgs a {
  text-decoration: none;
  color: black;
}
#menubar_ul li a:hover {
  transform: scale(1.1);
  color: #ff4d00;
}
.btn1:active {
  border-color: #ff4d00;
}
.btn1:hover {
  cursor: pointer;
}
.details_img:hover {
  transform: scale(1.05);
  transition-duration: 1s;
}
.details_img:active {
  opacity: 0.5;
}
/* #popbox {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
}
#popup {
  width: 500px;
  height: 500px;
  position: absolute;
  background-color: white;
  left: 0;
  right: 0;
  transform: translate(140%, 35%);
} */