@charset "utf-8";
@media (max-width: 760px) {
  #Rmwrap {
    width: 100%;
  }
  #subsection1 {
    width: 100%;
    background-color: black;
    color: white;
  }
  .hover {
    border-bottom: 3px solid coral;
  }
  #Room_wrap {
    position: relative;
  }
  #Roomlist {
    display: flex;
    text-align: center;
    justify-content: space-around;
  }
  #Roomlist li {
    width: 100%;
    margin: 30px;
    list-style: none;
  }
  #R1,
  #R2 {
    font-size: 3.2vw;
    font-family: "ONE-Mobile-Title";
    text-decoration: none;
    color: white;
    cursor: pointer;
  }
  .m {
    border-bottom: 3px solid coral;
    width: 18vw;
    position: absolute;
    left: 0%;
    bottom: 23px;
    opacity: 0;
  }
  .mm {
    border-bottom: 3px solid coral;
    width: 23vw;
    position: absolute;
    right: 0%;
    bottom: 23px;
    opacity: 0;
  }
  #bgwrap {
    width: 100%;
    background-color: white;
  }
  #Rmwrap h1 {
    width: 100%;
    line-height: 150px;
    text-align: center;
    font-size: 2vh;
    font-family: "NEXON Lv1 Gothic OTF";
  }
  #Rmslider {
    width: 100%;
    text-align: center;
    position: relative;
  }
  .Rmimg {
    width: 100%;
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  .Rmimg img {
    width: 100%;
  }
  .int {
    margin: 50px;
    line-height: 41px;
    font-family: "NEXON Lv1 Gothic OTF";
    text-align: center;
  }
  .int p {
    font-size: 2.5vh;
  }
  .int span {
    font-size: 1.8vh;
  }
  #Rmprev {
    width: 30px;
    height: 40px;
    background-color: white;
    cursor: pointer;
    text-align: center;
    position: absolute;
    right: 0%;
    bottom: 0%;
    transform: translate(-100%, 0%);
  }
  #Rmprev img {
    height: 20px;
    padding: 10px;
  }
  #Rmnext {
    width: 30px;
    height: 40px;
    background-color: white;
    cursor: pointer;
    text-align: center;
    position: absolute;
    right: 0%;
    bottom: 0%;
    transform: translate(0%, 0%);
  }
  #Rmnext img {
    height: 20px;
    padding: 10px;
  }
  #map {
    width: 100%;
    height: 450px;
    border: 0;
  }
  #submap {
    width: 100%;
    height: 450px;
  }
}
@media (min-width: 761px) and (max-width: 1199px) {
  #Rmwrap {
    width: 100%;
  }
  #subsection1 {
    width: 100%;
    background-color: black;
    color: white;
  }
  .hover {
    border-bottom: 3px solid coral;
  }
  #Room_wrap {
    position: relative;
  }
  #Roomlist {
    display: flex;
    text-align: center;
    justify-content: space-around;
  }
  #Roomlist li {
    width: 100%;
    margin: 30px;
    list-style: none;
  }
  #R1,
  #R2 {
    font-size: 3.2vw;
    font-family: "ONE-Mobile-Title";
    text-decoration: none;
    color: white;
    cursor: pointer;
  }
  .m {
    border-bottom: 3px solid coral;
    width: 18vw;
    position: absolute;
    left: 0%;
    bottom: 23px;
    opacity: 0;
  }
  .mm {
    border-bottom: 3px solid coral;
    width: 23vw;
    position: absolute;
    right: 0%;
    bottom: 23px;
    opacity: 0;
  }
  #bgwrap {
    width: 100%;
    background-color: white;
  }
  #Rmwrap h1 {
    width: 100%;
    line-height: 150px;
    text-align: center;
    font-size: 3vw;
    font-family: "NEXON Lv1 Gothic OTF";
  }
  #Rmslider {
    width: 100%;
    text-align: center;
    position: relative;
  }
  .Rmimg {
    width: 100%;
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  .Rmimg img {
    width: 100%;
  }
  .int {
    margin: 50px;
    line-height: 41px;
    font-family: "NEXON Lv1 Gothic OTF";
    text-align: center;
  }
  .int p {
    font-size: 2.5vw;
  }
  .int span {
    font-size: 1.8vw;
  }
  #Rmprev {
    width: 30px;
    height: 40px;
    background-color: white;
    cursor: pointer;
    text-align: center;
    position: absolute;
    right: 0%;
    bottom: 0%;
    z-index: 1;
    transform: translateX(-99%);
  }
  #Rmprev img {
    height: 20px;
    padding: 10px;
  }
  #Rmnext {
    width: 30px;
    height: 40px;
    background-color: white;
    cursor: pointer;
    text-align: center;
    position: absolute;
    right: 0%;
    bottom: 0%;
    z-index: 1;
  }
  #Rmnext img {
    height: 20px;
    padding: 10px;
  }
  #map {
    width: 100%;
    height: 450px;
    border: 0;
  }
  #submap {
    width: 100%;
    height: 450px;
  }
}

/* 서브도 반응 */

@media (min-width: 1200px) {
  #Rmwrap {
    width: 1170px;
  }
  #subsection1 {
    width: 100%;
    background-color: black;
    color: white;
  }
  .hover {
    border-bottom: 3px solid coral;
  }
  #Room_wrap {
    position: relative;
  }
  #Roomlist {
    display: flex;
    text-align: center;
    justify-content: space-around;
  }
  #Roomlist li {
    width: 100%;
    margin: 30px;
    list-style: none;
  }
  #R1,
  #R2 {
    font-size: 3.2vw;
    font-family: "ONE-Mobile-Title";
    text-decoration: none;
    color: white;
    cursor: pointer;
  }
  .m {
    border-bottom: 3px solid coral;
    width: 18vw;
    position: absolute;
    left: 0%;
    bottom: 23px;
    opacity: 0;
  }
  .mm {
    border-bottom: 3px solid coral;
    width: 23vw;
    position: absolute;
    right: 0%;
    bottom: 23px;
    opacity: 0;
  }
  #bgwrap {
    width: 100%;
    background-color: white;
  }
  #Rmwrap h1 {
    width: 100%;
    line-height: 150px;
    text-align: center;
    font-size: 3vw;
    font-family: "NEXON Lv1 Gothic OTF";
  }
  #Rmslider {
    width: 100%;
    text-align: center;
    position: relative;
  }
  .Rmimg {
    width: 100%;
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  .Rmimg img {
    width: 100%;
  }
  .int {
    margin: 50px;
    line-height: 50px;
    font-family: "NEXON Lv1 Gothic OTF";
    text-align: center;
  }
  .int p {
    font-size: 1.9vw;
  }
  .int span {
    font-size: 1.3vw;
  }
  #Rmprev {
    width: 30px;
    height: 40px;
    background-color: white;
    cursor: pointer;
    text-align: center;
    position: absolute;
    right: 0%;
    bottom: 0%;
    z-index: 1;
    transform: translate(-100%);
  }
  #Rmprev img {
    height: 20px;
    padding: 10px;
  }
  #Rmnext {
    width: 30px;
    height: 40px;
    background-color: white;
    cursor: pointer;
    text-align: center;
    position: absolute;
    right: 0%;
    bottom: 0%;
    z-index: 1;
  }
  #Rmnext img {
    height: 20px;
    padding: 10px;
  }
  #map {
    width: 100%;
    height: 450px;
    border: 0;
  }
  #submap {
    width: 100%;
    height: 450px;
  }
}
